<h3><%#= link_to "Time to start anew", burn_it_all_garden_path(@garden), method: 'DELETE' %></h3>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="d-flex">
    <% @garden.plants.each do |plant| %>
      <%= link_to plant_path(plant), method: 'DELETE' do %>
        <div class="card-category m-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
          <%= "#{plant.name} - #{plant.size}" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for [@garden, @plant], class: "form-group" do |f| %>
    <%= f.input :name %>
    <%= f.input :size %>
    <%= f.input :image_url %>

    <%= f.submit "Add a new plant", class: "btn btn-primary" %>
  <% end %>
</div>
